* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "WindSong";
}
body {
    padding: 12% 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    gap: 20px;
    background: radial-gradient(rgb(136, 207, 255),rgb(188, 255, 255),rgb(255, 255, 255));
    background-repeat: no-repeat;
}

.title {
    font-size: 45px;
    font-weight: 500;
    color: rgb(0, 79, 86);
    text-align: center;
    word-spacing: 9px;
}
.container {
    max-width: 95%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.item {
    height: 300px;
    width: 250px;
    outline: none;
    user-select: none;
    padding: 8px;
    border-radius: 20px;
    background-color: rgb(218, 233, 238);
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.322),
                -3px -3px 2px 1px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor:grab;
    transition: transform 0.2s;
}

.img-item {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    pointer-events: none;
    object-fit: cover;
}

.dragging {
    opacity: 0.5;
    transform: scale(0.9);
}

.over {
    background-color: rgba(0, 0, 0, 0.2);
}